/* Copyright © 2020 Scott Orlyck. **/

.legend {
    @apply overflow-visible m-4
}

#dateLabel {
    @apply mt-2 text-center text-4xl
}

#title {
    @apply mx-1
}

#totalLabel {
    @apply inline-block mb-4 text-left
}

#newCases {
    @apply inline-block mb-4 text-left
}

#deathLabel {
    @apply inline-block mb-4 text-left
}

#newDeaths {
    @apply inline-block mb-4 text-left
}

#deathSwitch {
    background-color: rgb(213, 27, 106);
}

#caseSwitch {
    background-color: rgb(125, 25, 126);
}

.circle {
    @apply cursor-pointer
}

.switches {
    width: 360px;
    @apply py-2 px-4 rounded border-none my-4 text-white opacity-25 mx-auto
}

.switches:hover {
    @apply cursor-pointer
}

.selected {
    opacity: 1;
}

#legends {
    @apply p-1 flex flex-col mt-12
}

.control {
    @apply flex flex-col
}

.label {
    @apply p-1 mx-4
}

#mapSvg {
    @apply w-full;
}

#controls {
    @apply flex pt-6 overflow-visible mx-auto
}

@screen md {
    #controls {
        @apply flex pt-6 overflow-visible w-full
    }
}

#slider {
    @apply overflow-visible min-w-full
}

.button {
    display: inline-block;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 80px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    @apply mr-4 overflow-visible
}

.button:hover {
    border-color: transparent transparent transparent #404040;
}

.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}
  
#mapContainer {
    @apply w-full
}

.counter {
    @apply flex flex-col mx-4
}

#map {
    @apply flex flex-col min-w-full
  }
  
  @screen xl {
    #map {
      @apply flex-row
    }
  }