/* Copyright © 2020 Scott Orlyck. **/

@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CRSV@500,0&display=swap');

.legend {
    max-width: 240px;
    @apply overflow-visible mt-1
}

#dateLabel {
    @apply mt-2 text-center text-4xl
}

#totalLabel {
    color: rgb(140, 129, 188);
    @apply inline-block mb-4 text-left
}

#newCases {
    color: rgb(140, 129, 188);
    @apply inline-block mb-4 text-left
}

#deathLabel {
    color: rgb(213, 27, 106);
    @apply inline-block mb-4 text-left
}

#newDeaths {
    color: rgb(213, 27, 106);
    @apply inline-block mb-4 text-left
}

#deathSwitch {
    background-color: rgb(213, 27, 106);
}

#caseSwitch {
    background-color: rgb(140, 129, 188);
}

.circle {
    @apply cursor-pointer
}

@media (prefers-color-scheme: dark) {
    .circle {
        fill: #f7fafc;
    }

    .legendLabel {
        fill: #f7fafc;
    }

    .button {
        @apply text-gray-100;
    }

    html {
        @apply bg-gray-900 text-gray-300
    }
}

.switches {
    width: 244px;
    @apply py-2 px-4 rounded border-none my-4 text-white opacity-25 mx-auto
}

.switches:hover {
    @apply cursor-pointer
}

.selected {
    opacity: 1;
}

#legends {
    max-width: 360px;
    @apply p-1 flex flex-col mt-12
}

.legendLabel {
    @apply text-gray-100
}

.control {
    @apply p-1
}

.label {
    @apply p-1 mx-4
}

#controls {
    @apply pt-6 overflow-visible mx-auto cursor-pointer
}

@screen md {
    #controls {
        @apply flex pt-6 overflow-visible w-full
    }
}

#slider {
    @apply overflow-visible mx-16 w-full 
}

.button {
    font-family: 'Recursive', monospace;
    width: 100px;
    height: 44px;
    @apply bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-lg
}
  
#mapContainer {
    @apply w-full
}

#playback {
    @apply w-full max-w-screen-xl mx-auto
}

#playContainer {
    @apply flex flex-col justify-center
}

.counter {
    @apply flex flex-col mx-8
}

#map {
    max-width: 1800px;
    @apply flex flex-col items-center w-full mx-auto
}

#mapSvg {
    @apply w-full
}

@screen xl {
    #legends {
        @apply mx-4
    }
    #map {
      @apply flex-row
    }
}

#title {
    @apply my-4
}

#popup {
    @apply px-4 py-2 bg-gray-900 opacity-0 text-gray-100 inline-block absolute rounded
}

#popupLabel {
    @apply p-1
}