body {
    font: 1em sans-serif;
}

.label {
    font: bold 12px sans-serif;
    font-variant-numeric: tabular-nums;
}

.ticker {
    font: bold 48px sans-serif;
    font-variant-numeric: tabular-nums;
}

.bars {
    @apply max-w-full max-h-full
}