/* Copyright © 2020 Scott Orlyck. **/

#dateLabel {
    @apply p-1 m-4
}

#title {
    @apply p-1 m-4
}

#totalLabel {
    @apply p-1 m-4
}

#deathLabel {
    @apply p-1 m-4
}

#switches {
    @apply p-1 m-1
}

#deathSwitch {
    background-color: rgb(213, 27, 106);
}

#caseSwitch {
    background-color: rgb(125, 25, 126);
}

.switches {
    @apply font-bold py-2 px-4 rounded border-none m-4 text-white opacity-25
}

.selected {
    opacity: 1;
}

#legends {
    @apply p-1 m-1 flex justify-between
}

.control {
    @apply flex flex-col
}

.label {
    @apply p-1 mx-4
}