/* Copyright © 2020 Scott Orlyck. **/

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

#app {
    @apply flex flex-col max-w-screen-lg mx-auto
}

p:global { @apply mx-8 }

h1:global {
    @apply p-1 m-1 mt-4
}

svg:global {
    @apply max-h-full max-w-full m-4 overflow-visible
}

.footer {
    @apply my-12 mx-4
}